{% extends 'layout.html' %}

{% block content %}
<h1>Welcome to the Spotify Data Analysis App</h1>
<p>This is the homepage of the Spotify Data Analysis application.</p>

<!-- Begin introduction section -->
<section>
    <h2>Explore Music Data Like Never Before</h2>
    <p>Welcome to a world where music data tells stories. Our application dives into the depths of Spotify's vast music library to uncover trends, popularity, and genre insights. Whether you're a music enthusiast, a data analyst, or just curious, our app brings forth a unique perspective on music analytics.</p>

    <h3>Features</h3>
    <p>Discover the functionalities:</p>
    <ul>
        <li><strong>Track Popularity Analysis:</strong> Explore how different tracks fair in terms of popularity on Spotify.</li>
        <li><strong>Genre Trends:</strong> See which music genres are trending and their relative popularity.</li>
        <li><strong>Monthly Popularity Trends:</strong> Understand how time of the year affects track popularity.</li>
    </ul>
</section>
<!-- End introduction section -->

{% endblock %}
